openapi: 3.0.1
info:
  title: CLOUD API
  description: "An enterprise-grade Infrastructure is provided as a Service (IaaS)\
    \ solution that can be managed through a browser-based \"Data Center Designer\"\
    \ (DCD) tool or via an easy to use API. \n\nThe API allows you to perform a variety\
    \ of management tasks such as spinning up additional servers, adding volumes,\
    \ adjusting networking, and so forth. It is designed to allow users to leverage\
    \ the same power and flexibility found within the DCD visual tool. Both tools\
    \ are consistent with their concepts and lend well to making the experience smooth\
    \ and intuitive."
  version: "5.0"
servers:
- url: https://api.ionos.com/cloudapi/v5
tags:
- name: Server
- name: Contract
- name: Data Center
- name: Nic
- name: User Management
- name: Image
- name: IP Blocks
- name: Lan
- name: Load Balancer
- name: Location
- name: Private Cross Connect
- name: Request
- name: /
- name: Snapshot
- name: Volume
- name: Backup Unit
- name: Label
- name: Kubernetes
paths:
  /datacenters/{datacenterId}/servers/{serverId}/volumes:
    get:
      tags:
      - Server
      summary: List Attached Volumes
      description: You can retrieve a list of volumes attached to the server
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedVolumes'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
    post:
      tags:
      - Server
      summary: Attach a volume
      description: This will attach a pre-existing storage volume to the server. It
        is also possible to create and attach a volume in one step just by providing
        a new volume description as payload. Combine count of Nics and volumes attached
        to the server should not exceed size 24.
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Volume to be attached (created and attached)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      x-codegen-request-body-name: volume
  /datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}:
    get:
      tags:
      - Server
      summary: Retrieve an attached volume
      description: This will retrieve the properties of an attached volume.
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: volumeId
        in: path
        description: The unique ID of the Volume
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    delete:
      tags:
      - Server
      summary: Detach a volume
      description: This will detach the volume from the server. This will not delete
        the volume from your datacenter. You will need to make a separate request
        to perform a deletion
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: volumeId
        in: path
        description: The unique ID of the Volume
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}:
    get:
      tags:
      - Server
      summary: Retrieve an attached CD-ROM
      description: You can retrieve a specific CD-ROM attached to the server
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: cdromId
        in: path
        description: The unique ID of the CD-ROM
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    delete:
      tags:
      - Server
      summary: Detach a CD-ROM
      description: This will detach a CD-ROM from the server
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: cdromId
        in: path
        description: The unique ID of the CD-ROM
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /datacenters/{datacenterId}/servers/{serverId}/cdroms:
    get:
      tags:
      - Server
      summary: 'List attached CD-ROMs '
      description: You can retrieve a list of CD-ROMs attached to the server.
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cdroms'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    post:
      tags:
      - Server
      summary: Attach a CD-ROM
      description: 'You can attach a CD-ROM to an existing server. You can attach
        up to 2 CD-ROMs to one server. '
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the Datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: CD-ROM to be attached
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: cdrom
  /contracts:
    get:
      tags:
      - Contract
      summary: Retrieve a Contract
      description: Retrieves the attributes of user's contract.
      parameters:
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /datacenters:
    get:
      tags:
      - Data Center
      summary: List Data Centers under your account
      description: You can retrieve a complete list of data centers provisioned under
        your account
      parameters:
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenters'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    post:
      tags:
      - Data Center
      summary: Create a Data Center
      description: Virtual data centers are the foundation of the platform. They act
        as logical containers for all other objects you will be creating, e.g. servers.
        You can provision as many data centers as you want. Datacenters have their
        own private network and are logically segmented from each other to create
        isolation. You can use this POST method to create a simple datacenter or to
        create a datacenter with multiple objects under it such as servers and storage
        volumes.
      parameters:
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Datacenter to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}:
    get:
      tags:
      - Data Center
      summary: Retrieve a Data Center
      description: You can retrieve a data center by using the resource's ID. This
        value can be found in the response body when a datacenter is created or when
        you GET a list of datacenters.
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    put:
      tags:
      - Data Center
      summary: Modify a Data Center
      description: You can use update datacenter to re-name the datacenter or update
        its description
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Modified Data Center
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: datacenter
    delete:
      tags:
      - Data Center
      summary: Delete a Data Center
      description: Will remove all objects within the datacenter and remove the datacenter
        object itself, too. This is a highly destructive method which should be used
        with caution
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    patch:
      tags:
      - Data Center
      summary: Partially modify a Data Center
      description: You can use update datacenter to re-name the datacenter or update
        its description
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Modified properties of Data Center
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatacenterProperties'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}/servers/{serverId}/nics/{nicId}/firewallrules:
    get:
      tags:
      - Nic
      summary: 'List Firewall Rules '
      description: Retrieves a list of firewall rules associated with a particular
        NIC
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRules'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    post:
      tags:
      - Nic
      summary: Create a Firewall Rule
      description: This will add a Firewall Rule to the NIC
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Firewall Rule to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: firewallrule
  /datacenters/{datacenterId}/servers/{serverId}/nics/{nicId}/firewallrules/{firewallruleId}:
    get:
      tags:
      - Nic
      summary: Retrieve a Firewall Rule
      description: Retrieves the attributes of a given Firewall Rule.
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: firewallruleId
        in: path
        description: The unique ID of the Firewall Rule
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    put:
      tags:
      - Nic
      summary: Modify a Firewall Rule
      description: You can use update attributes of a resource
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: firewallruleId
        in: path
        description: The unique ID of the Firewall Rule
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Modified Firewall Rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: firewallrule
    delete:
      tags:
      - Nic
      summary: Delete a Firewall Rule
      description: Removes the specific Firewall Rule
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: firewallruleId
        in: path
        description: The unique ID of the Firewall Rule
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    patch:
      tags:
      - Nic
      summary: Partially modify a Firewall Rule
      description: You can use update attributes of a resource
      parameters:
      - name: datacenterId
        in: path
        description: The unique ID of the datacenter
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: The unique ID of the Server
        required: true
        schema:
          type: string
      - name: nicId
        in: path
        description: The unique ID of the NIC
        required: true
        schema:
          type: string
      - name: firewallruleId
        in: path
        description: The unique ID of the Firewall Rule
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Modified Firewall Rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallruleProperties'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: firewallrule
  /um/groups:
    get:
      tags:
      - User Management
      summary: List All Groups.
      description: You can retrieve a complete list of all groups that you have access
        to
      parameters:
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    post:
      tags:
      - User Management
      summary: Create a Group
      description: You can use this POST method to create a group
      parameters:
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Group to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: group
  /um/groups/{groupId}:
    get:
      tags:
      - User Management
      summary: Retrieve a Group
      description: You can retrieve a group by using the group ID. This value can
        be found in the response body when a group is created or when you GET a list
        of groups.
      parameters:
      - name: groupId
        in: path
        description: The unique ID of the group
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    put:
      tags:
      - User Management
      summary: Modify a group
      description: You can use this method to update properties of the group.
      parameters:
      - name: groupId
        in: path
        description: The unique ID of the group
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: Modified properties of the Group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupProperties'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: Group
    delete:
      tags:
      - User Management
      summary: Delete a Group
      description: Delete a group
      parameters:
      - name: groupId
        in: path
        description: The unique ID of the group
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /um/groups/{groupId}/resources:
    get:
      tags:
      - User Management
      summary: Retrieve resources assigned to a group
      parameters:
      - name: groupId
        in: path
        description: The unique ID of the group
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroups'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /um/groups/{groupId}/users:
    get:
      tags:
      - User Management
      summary: 'List Group Members '
      description: You can retrieve a list of users who are members of the group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembers'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
    post:
      tags:
      - User Management
      summary: Add a user to a group
      description: 'This will attach a pre-existing user to a group. '
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      requestBody:
        description: User to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      x-codegen-request-body-name: user
  /um/groups/{groupId}/users/{userId}:
    delete:
      tags:
      - User Management
      summary: Remove a user from a group
      description: This will remove a user from a group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: pretty
        in: query
        description: Controls whether response is pretty-printed (with indentation
          and new lines)
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        schema:
          maximum: 10
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: X-Contract-Number
        in: header
        description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        schema:
          type: integer
          format: int32
      responses:
        "202":
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                type: integer
                format: int32
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                type: integer
                format: int32
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                type: integer
                format: int32
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Basic Authentication: []
      - Token Authentication: []
  /um/groups/{groupId}/shares/{resourceId}:
    get:
      tags:
      - User Management
      summary: Retrieve a group share
      description: This will retrieve the properties of a group share.
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
[...]
